.ipynb_checkpoints
.tmp.drivedownload
2_Project_LifeCycle_Drug_Risk.gdoc
.DS_Store
DBDescription.gdoc
Icon?
Predicting Drug Consumption Risk  (1).gslides
Predicting Drug Consumption Risk .gslides
Project2_Mirko.ipynb
DBDescription.pdf
Study.pdf
ToDo-Liste.gdoc
__pycache__/
